
home-page {
    display: flex;
    flex: 1 80%;
    padding: 10px;
    margin: 30px 20px 30px 90px;
    background-color: #25282C;
    border-style: solid;
    border-color:  white;
    height: 100%;
    color: #DADADA;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

home-page .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "tournament tournament oneVSone-local oneVSone-local oneVSone-remote oneVSone-remote"
        "tournament tournament oneVSone-local oneVSone-local oneVSone-remote oneVSone-remote"
        ". . . . . ."
        "oneVSone-bot oneVSone-bot oneVSone-bot twoVStwo-remote twoVStwo-remote twoVStwo-remote"
        "oneVSone-bot oneVSone-bot oneVSone-bot twoVStwo-remote twoVStwo-remote twoVStwo-remote";
    border: 1px solid white;
    height: 90%;
    width: 90%;
    padding: 2rem;
    background-color: #2C3035;
}

home-page .container .tournament,
home-page .container .oneVSone-local,
home-page .container .oneVSone-remote,
home-page .container .oneVSone-bot,
home-page .container .twoVStwo-remote {
    display: flex;
    align-items: center;
    justify-content: center;
}

home-page .container .overlay {
    display: flex;
    background-color: #2A2E33;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px 0px rgb(198, 181, 181);
    color: white;
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

home-page .container .overlay .text{
    font-size: 30px;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

home-page .container .overlay button {
    
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #f0a500;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

home-page .container .overlay button:hover {
    border-radius: 1.2rem;
    font-size: large;
    color: rgb(10, 50, 227);;
}

home-page .container .tournament {
    grid-area: tournament;
}

home-page .container .oneVSone-local {
    grid-area: oneVSone-local;
}

home-page .container .oneVSone-remote {
    grid-area: oneVSone-remote;
}

home-page .container .oneVSone-bot {
    grid-area: oneVSone-bot;
}

home-page .container .twoVStwo-remote {
    grid-area: twoVStwo-remote;

}

@media screen and (max-width: 1250px) {
    home-page .container {
        gap: 1rem;
        grid-template-areas:
        "tournament tournament tournament oneVSone-local oneVSone-local oneVSone-local"
        "tournament tournament tournament oneVSone-local oneVSone-local oneVSone-local"
        "oneVSone-remote oneVSone-remote oneVSone-remote oneVSone-bot oneVSone-bot oneVSone-bot"
        "oneVSone-remote oneVSone-remote oneVSone-remote oneVSone-bot oneVSone-bot oneVSone-bot"
        "twoVStwo-remote twoVStwo-remote twoVStwo-remote twoVStwo-remote twoVStwo-remote twoVStwo-remote";
    }
}

@media screen and (max-width: 685px) {
    home-page .container {
        grid-template-areas:
        "tournament tournament tournament tournament tournament tournament"
        "oneVSone-local oneVSone-local oneVSone-local oneVSone-local oneVSone-local oneVSone-local"
        "oneVSone-remote oneVSone-remote oneVSone-remote oneVSone-remote oneVSone-remote oneVSone-remote"
        "oneVSone-bot oneVSone-bot oneVSone-bot oneVSone-bot oneVSone-bot oneVSone-bot"
        "twoVStwo-remote twoVStwo-remote twoVStwo-remote twoVStwo-remote twoVStwo-remote twoVStwo-remote";
    }
}
