
.settings_template {
    display: flex;
    flex-direction: column;
    flex: 1 80%;
    padding: 10px;
    margin: 0 20px 30px 90px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color:  white;
    height: 100%;
}

/* /////////////////  Profile */

.settings_template .profile {
    left: 2.5%;
    width: 100%;
    border-width: 2px 2px 2px 2px;
    margin-bottom: 15px;
    border-style: solid;
    border-color: white;
    color: white;
}

.settings_template .profile h2 {
    padding: 1rem 0 0 2rem;
}

.settings_template .profile-header {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
}

.settings_template .profile-image {
    position: relative;
    padding-bottom: 1rem;
}

.settings_template .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 4px rgb(255 255 255);
}

.settings_template .profile-image button {
    background: rgba(93, 118, 236, 1);
    font-size: 20px;
	border: none;
	cursor: pointer;
    right: 0;
    position: absolute;
    transition: width .2s, height .2s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.settings_template .profile-image button i {
    font-size: 24px;
    padding-left: 2px;
    padding-top: 2px;
    color: #292D32;
    transition: font-size .2s;
}

.settings_template .profile-image button:hover {
    width: 40px;
    height: 40px;
}

.settings_template .profile-image button i:hover {
    font-size: 40px;
}

.settings_template .profile-header .title {
    padding-top: 35px;
    padding-left: 30px;
}

.settings_template .profile-header .title .Username {
    font-size: 50px;
}

.settings_template .profile-header .title button {
    padding-top: 10px;
    background: none;
	color: inherit;
	border: none;
	font: initial;
	cursor: pointer;
}

.settings_template .profile-header .title button:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 540px) {
    .settings_template .profile-header .title .Username {
        font-size: 20px;
    }
}

/* ///////////// main profile */

.settings_template .main-profile {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    max-height: 1200px;
}

/* ////////////  information */

.settings_template .information {
    display: flex;
    justify-content: center;
    flex: 60%;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: white;
    color: white;
}

.settings_template .information .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(49, 53, 60, 1);
    box-shadow: -6px 16px 20px 14px rgb(53, 54, 54);
    width: 90%;
    height: 95%;
}

.settings_template .information .container>div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.settings_template .information .container h4 {
    padding: 10px 0 0 0;
}

.settings_template .information .container button {
    color: rgba(218, 218, 218, 1);
    padding: 3px 60px;
    background: rgb(82, 105, 224);
    border-radius: 60px;
    border: 0.2px dotted rgba(255, 255, 255, 1);
    box-shadow: -2px -3.5px 20px 8px rgba(72, 80, 87, 1);
    cursor: pointer;
    font-size: 17px;
    transition: font-size .3s, box-shadow .3s;
}

.settings_template .information .container .two-factor button {
    padding: 7px 60px;
}

.settings_template .information .container button:hover {
    background: rgb(25, 58, 223);
    font-size: 20px;
    box-shadow: 0px 0px 0px 1px rgb(255 255 255);
}

/* //////////// friends */


.settings_template .friends {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 48%;
    background-color: rgba(49, 53, 60, 1);
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: white;
    color: white;
    box-shadow: -6px 16px 20px 14px rgb(53, 54, 54);
}

.settings_template .friends h2 {
    padding: 1.2rem 0 1.8rem 2rem;
}

.settings_template .friends ul {
    height: 90%;
    flex-direction: column;
    padding: 10px 0 10px 40px;
    overflow: auto;
    scrollbar-color: rgb(109, 138, 204) rgb(53, 54, 54);
    scrollbar-width: 2px;
}

.settings_template .friends ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.settings_template .friends ul li div {
    display: flex;
    padding: 20px 0 0 0;
}

.settings_template .friends img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgb(0 231 231);
}

.settings_template .friends ul li h4 {
    padding: 28px 00px 28px 14px;
    font-size: larger;
}

.settings_template .friends ul li button {
    align-self: center;
    color: rgba(218, 218, 218, 1);
    padding: 10px 50px;
    background: rgba(93, 118, 236, 1);
    border-radius: 60px;
    border: 0.2 dotted rgb(255, 255, 255);
    box-shadow: -2px -3.5px 20px 8px rgba(72, 80, 87, 1);
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: font-size 0.3s;
}

.settings_template .friends ul li button:hover {
    background: rgb(25, 58, 223);
    font-size: 20px;
}

@media screen and (max-width: 1380px) {
    .settings_template .main-profile {
        flex-direction: column;
    }
    .settings_template .friends{
        max-height: 600px;
    }
}