
.nav-bar {
    display: flex;
    /* min-height: 100vh; */
    background: #292D32;
}


.nav-bar .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65px;
    height: 500px;
    border-radius: 1px 45px 45px 1px;
    border: 0.8px 0px 0px 0px;
    opacity: 0px;
    background: #31353C;
    position: fixed;
    left: 0;
    top: 30%;
    box-shadow: -5px -5px 15px 0px rgba(54, 60, 69, 1);
}

.nav-bar .container button {
    background: #292D32;
    position: relative;
    border: 0;
    width: 0;
    right: -14px;
    cursor: pointer;
}

.nav-bar .container i {
    background-color: #31353C;
    box-shadow: 0px 0px 13px 2px #2F3655;
    font-size: 30px;
    border: 0.5px;
}

.nav-bar .container i:hover {
    color: #abafb7;
    font-size: 45px;
    transition-property: .5s;
}

.nav-bar .my-account {
    font-size: 55px;
    position: fixed;
    cursor: pointer;
    top: 20px;
    left: 13px;
    border-radius: 50%;
    background: transparent;
    border: 0;
    box-shadow: -5px -5px 15px 0px #373535;
}

.nav-bar .my-account i {
    position: relative;
    top: 5px;
    color: #656668;
}

.nav-bar .my-account i:hover {
    color: #abafb7;
    font-size: 75px;
    transition-property: .5s;
}
