.remove-two-factor {
    position: fixed;
    display: flex;
    background-color: rgb(64, 70, 80);
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 0px 15px 6px rgb(173 170 170);
}

.remove-two-factor h4 {
    display: flex;
    padding-top: 5rem;
    font-size: 2.5rem;
}

.remove-two-factor .buttons {
    display: flex;
    gap: 2rem;
}

.remove-two-factor label {
    font-size: large;
}

.remove-two-factor input {
    width: 8rem;
    height: 3rem;
    font-size: 30px;
    padding-left: 13px;
}

.remove-two-factor .buttons button {
    padding: 1rem 2rem;
    border-radius: 12.5px 12.5px 12.5px 12.5px;
    border: 1px 0px 0px 0px;
    color: rgb(209, 217, 228);
    background-color: rgb(64, 70, 80);
    border: 0.2rem solid rgba(67, 97, 238, 1);
    font-size: 18px;
}

.remove-two-factor .buttons button:hover {
    background: rgb(25, 58, 223);
    border: 0.1rem solid white;
}