body {
    background-color: #f8f9fa;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card {
    height: 200px;
}

.bg-lightblue {
    background-color: #add8e6;
}

.bg-lightgreen {
    background-color: #90ee90;
}

.bg-lightcoral {
    background-color: #f08080;
}

.bg-lightpink {
    background-color: #ffb6c1;
}

.bg-lightyellow {
    background-color: #ffffe0;
}

.bg-lightgrey {
    background-color: #d3d3d3;
}

.navbar .container-fluid {
    flex-wrap: nowrap;
}
